node {
	width: 15px;
	height: 15px;
	label: data(label);
	color: white;
}

.eh-handle {
	width: 8px;
	height: 8px;
}

.eh-handle, .eh-ghost {
	background-color: purple;
	line-color: purple;
	target-arrow-color: purple;
}

.eh-preview {
	line-color: yellow;
	target-arrow-color: yellow;
}

edge {
	width: 1.5;
	curve-style: bezier;
	target-arrow-shape: triangle;
}
