node {
	width: 15px;
	height: 15px;
	label: data(label);
	color: white;
}

.eh-handle {
	width: 8px;
	height: 8px;
	background-color: red;
}

edge {
	width: 1.5;
	curve-style: bezier;
	target-arrow-shape: triangle;
}
